.btn {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px grey;
  color: grey;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  font-size: 20px;
  letter-spacing: 3px;
}
.btn::before,
.btn::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draw */
.draw {
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #96c291;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #96c291;
  border-right-color: #96c291;

  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #96c291;
  border-left-color: #96c291;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

/* meet */

.meet:hover {
  color: #f5eec8;
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: #f5eec8;
  border-right-color: #f5eec8;
}
.meet:hover::after {
  border-bottom-color: #f5eec8;
  border-left-color: #f5eec8;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
