@tailwind base;
@tailwind components;
@tailwind utilities;
/* #7C96AB */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: gray;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
